*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;

         -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html,
body {
    height: 100%;
}

/* ==========================================================================
Mixins and Extends
========================================================================== */
